<% begin %>
  <% output = Bash.evaluate_string script %>
  <% output.each do |key, line| %>
    <% case key
       when :stdin %>
      <p class="text-info"><%= h line %></p>
    <% when :stdout %>
      <p><%= h line %></p>
    <% when :stderr %>
      <p class="text-danger"><%= h line %></p>
    <% end %>
  <% end %>
<% rescue => error %>
  <%= erb :error, locals: { error: error }, layout: false %>
<% end %>
