<form id="script" class="clearfix script" method="post">
  <div class="form-group">
    <textarea name="script" id="editor" style="display: none;"></textarea>
  </div>
  <div class="pull-right">
    <select name="type" class="form-control" id="mode">
      <option value="ruby">Ruby</option>
      <option value="ruby_debug">Ruby (Debug Mode)</option>
      <option value="bash">Bash</option>
    </select>
    <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div>
    Press <kbd><kbd>Ctrl</kbd> + <kbd>Enter</kbd></kbd> to submit code
  </div>
</form>

<div id="content"></div>

<script type="text/javascript" src="javascripts/codemirror.js"></script>
<script type="text/javascript" src="javascripts/mode/ruby.js"></script>
<script type="text/javascript" src="javascripts/mode/shell.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/codemirror.css">
<script type="text/javascript">
  var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
  CodeMirror.keyMap.default["Tab"] =  function(editor) {
    var spaces = Array(editor.getOption("indentUnit") + 1).join(" ");
    editor.replaceSelection(spaces);
  };
  CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Enter"] =  function(editor) {
    $("#submit-button").trigger("click");
  };

  var editor = CodeMirror.fromTextArea($("#editor")[0], {
    lineNumbers: true
  });

  ModeMap = {
    ruby: "ruby",
    ruby_debug: "ruby",
    bash: "shell"
  };

  $("#mode").change(function() {
    editor.setOption("mode", ModeMap[$(this).val()]);
  });


  var $content = $("#content");

  $("#script").ajaxForm({
    beforeSend: function() {
      $content
        .html("<hr/>")
        .append('<span class="text-info">Loading...</span>')
    },
    error: function() {
      $content
        .html("<hr/>")
        .append('<span class="text-danger">Oops! Something went wrong, please try again later!</span>')
    },
    success: function(json) {
      try {
        var data = JSON.parse(json);
        $content
          .html("<hr/>")
          .append('<span class="text-info">' + data.server_hostname + "</span>")
          .append(ansi_up.ansi_to_html(data.content));
      } catch (error) {
        console.error(error)
      }
    }
  });
</script>
