html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 20px;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

p {
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0;
}

* {
  outline: 0 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.footer p {
  line-height: 60px;
}

.fixed-top-right {
  position: fixed;
  top: 25px;
  right: 25px;
}

.filter-btn-group {
  margin-right: 20px;
}

.settings-panel {
  margin-top: 50px;
  width: 320px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.highlight-list {
  margin-top: 5px;
}

.highlight-list .label {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 5px 0;
  font-size: 12px;
}

.highlight-list .label.highlight-hidden > em {
  color: #FFF;
}

.content-hover p:hover {
  background: #EEE;
}

.table td:not(:first-child) {
  word-break: break-all;
}

.script select.form-control {
  display: inline-block;
  width: 100px;
}

.divider {
  display: block;
  margin: 10px 0 20px;
  color: #a94442;
  border-bottom: 3px dashed #d9534f;
}

.highlight {
  background: #FFFF88;
}

.progress-bar {
  -webkit-transition: width .6s ease, background-color .6s ease;
  -o-transition: width .6s ease, background-color .6s ease;
  transition: width .6s ease, background-color .6s ease;
}
