body {
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  white-space: pre-wrap;
  margin: 0;
}

.fixed-top-right {
  position: fixed;
  top: 25px;
  right: 25px;
}

.settings-panel {
  margin-top: 50px;
  width: 320px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.highlight-list {
  margin-top: 5px;
}

.highlight-list .label {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 5px 0;
  font-size: 12px;
}

.highlight-list .label.highlight-hidden > em {
  color: #FFF;
}

.content-hover p:hover {
  background: #EEE;
}

.dl-horizontal dt {
  width: 320px;
  padding-right: 20px;
  overflow-x: scroll;
  text-overflow: initial;
}

.dl-horizontal dd {
  margin-left: 320px;
  word-break: break-all;
}

.dl-hover dt:hover + dd, .dl-hover dd:hover {
  background: #EEE;
}

.script select.form-control {
  display: inline-block;
  width: 100px;
}

.divider {
  display: block;
  margin: 10px 0 20px;
  color: #a94442;
  border-bottom: 3px dashed #d9534f;
}

.highlight {
  background: #FFFF88;
}
