<% begin %>

  <% raise RuntimeError, "Tailog.log_path is not present!" unless Tailog.log_path %>

  <% if params[:file] %>
    <% file_path = File.join Tailog.log_path, params[:file] %>
    <h3 class="page-header"><%= file_path %></h3>

    <% File.open file_path do |file| %>
      <div id="content" class="content-hover"></div>
    <% end %>

    <a id="add_divider" class="btn btn-danger pull-right">Add Divider</a>

    <script type="text/javascript">
      window.fileSize = {};
      window.fileSizeDone = {};
      var $window = $(window),
          $document = $(document),
          $content = $("#content");

      var dividerId = 1;
      $("#add_divider").click(function() {
        $content.append('<span class="divider"> #' + dividerId++ + ' - ' + new Date() + '</span>');
      });

      function loadMore() {
        $.post(window.location.href, { seek: window.fileSize }, function(json) {
          try {
            var data = JSON.parse(json);

            var fileSizeKey = data.server_hostname + '-' + data.file_size;
            if (window.fileSizeDone[fileSizeKey]) return;
            window.fileSizeDone[fileSizeKey] = true;
            window.fileSize[data.server_hostname] = data.file_size;

            if (!data.content) return;
            var shouldScrollToBottom = $window.scrollTop() + $window.height() == $document.height();
            $content
              .append('<span class="text-info">' + data.server_hostname + ' - ' + data.file_size + '</span>')
              .append(data.content);

            if (shouldScrollToBottom) {
              $window.scrollTop($document.height() - $window.height());
            }

          } catch (error) {
            console.log(error)
          }
        });
      }

      setInterval(loadMore, 3000);
      loadMore();
    </script>

  <% else %>
    <% Dir[File.join Tailog.log_path, '**/*.log'].each do |file| %>
      <% relative_file = Pathname.new(file).relative_path_from(Pathname.new(Tailog.log_path)) %>
      <p><a href="?file=<%= relative_file %>"><%= file %></a></p>
    <% end %>
  <% end %>

<% rescue => error %>
  <%= erb :error, locals: { error: error }, layout: false %>
<% end %>
