<!DOCTYPE html>
<html>
<head>
  <title>TAILOG</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.js"></script>
  <script type="text/javascript" src="javascripts/ansi_up.js"></script>
  <script type="text/javascript" src="javascripts/jquery.highlight.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
</head>
<body>

  <div class="container">

    <!-- Static navbar -->
    <% path_info = request.path_info %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">TAILOG</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li<%= ' class="active"' if path_info == "/logs" %>><a href="logs">Logs</a></li>
            <li<%= ' class="active"' if path_info == "/env" %>><a href="env">Env</a></li>
            <li<%= ' class="active"' if path_info == "/script" %>><a href="script">Script</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    <%= yield %>

  </div> <!-- /container -->
</body>
</html>
